.selectionButton {
    padding: 20px 40px;
    margin: 20px;
    border-radius: 20px;
    border: solid transparent;
    width: 300px;
    height: 100px;
}

.dogButton {
    background: #F7C677;
    border-bottom: solid 4px #F3A932;
}

.catButton {
    background: #F8BCBB;
    border-bottom: solid 4px #F28482;
}

.homeButton, .pageButton {
    background: #B9CBC6;
    border-bottom: solid 4px #84A59D;
    height: 50px;
    padding: 0 20px;
    margin: 20px 0 0;
}

.pageButtons {
    display: flex;
    width: 320px;
    height: fit-content;
    justify-content: space-evenly;
}

/* push button effect */
button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

button:focus {
    outline: 2px solid blue;
}

/* so that outline doesn't appear on click, but only via tabbing */
button:active:focus {
    outline: none;
}

button:disabled {
    background: grey;
    border-bottom: solid 4px darkgrey;
    color: #F7EDE2;
    pointer-events: none;
    cursor: not-allowed;
}
