.cards{
    cursor: pointer;
    width: 20vw;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
}

.dogCards {
    background: #F7C677;
}

.catCards {
    background: #F8BCBB;
}

.cards h2{
    font-size: clamp(1rem, 0.8947rem + 0.5263vw, 1.25rem);
}

.cardFace {
    display: grid;
    grid-template-rows: 10% 90%;
    place-items: center;
    height: 100%;
    width: auto;
}

.breedName {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgContainer {
    width: auto;
    height: calc(20vw - 40px);
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* MODAL CONTENT STYLES */
.cardsFacts {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.cardsFactsTitle{
    text-align: center;
}

.cardsFactsTitle h3 {
    font-size: clamp(0.9rem, 0.7316rem + 0.8421vw, 1.3rem);
}

.cardsFactsTitle p {
    padding: 0;
    margin: 0;
    line-height: 0%;
}

.cardsFactsGroup h4 {
    font-size: clamp(0.8rem, 0.6737rem + 0.6316vw, 1.1rem);
    text-decoration: underline;
    text-align: center;
}

.cardsFactsGroup p {
    line-height: 25%;
}

.cardsFactsGroup span {
    font-weight: 700;
    font-size: 95%;
}

.cardsFactsGroup {
    height: 100%;
}

/* MODAL HOOK STYLES */
.customOverlay {
    background: rgba(35, 31, 32, 0.7);
}

.customModal {
    background: #b2dbbf;
    border-radius: 20px;
    border: 2px solid #84A59D;
    width: 80vw;
    height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .cards{
        width: 30vw;
    }

    .imgContainer {
        height: calc(30vw - 40px);
    }
}

@media (max-width: 620px) {
    .cards {
        width: 40vw;
    }

    .imgContainer {
        height: calc(40vw - 40px);
    }

    .cardsFacts {
        grid-template-rows: repeat(4, 0.25fr);
        grid-template-columns: 1fr;
        place-items: center;
    }

    .cardsFactsGroup {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 450px) {
    .cards {
        width: 80vw;
    }

    .imgContainer {
        height: calc(80vw - 40px);
    }
}
