.card{
    cursor: pointer;
    width: 20vw;
    height: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 20% 80%;
    place-items: center;
    place-content: center;
    padding: 10px;
}

.card:focus,
.card:active {
    border: 2px solid blue;
}

.dogCard {
    background: #F7C677;
}

.catCard {
    background: #F8BCBB;
}

.card h2{
    font-size: clamp(0.9rem, 0.8579rem + 0.2105vw, 1rem);
}

.breedName {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    width: calc(20vw - 40px);
    height: calc(20vw - 40px);
}

.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/* MODAL CONTENT STYLES */
.cardFacts {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    place-items: center;
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

.cardFactsTitle{
    text-align: center;
}

.cardFactsTitle h3 {
    font-size: clamp(0.9rem, 0.7316rem + 0.8421vw, 1.3rem);
}

.cardFactsTitle p {
    padding: 0;
    margin: 0;
    line-height: 0%;
}

.cardFactsGroup h4 {
    font-size: clamp(0.8rem, 0.6737rem + 0.6316vw, 1.1rem);
    text-decoration: underline;
    text-align: center;
}

.cardFactsGroup p {
    line-height: 50%;
    font-size: clamp(0.7rem, 0.6579rem + 0.2105vw, 0.8rem);
}

.cardFactsGroup span {
    font-weight: 700;
    font-size: 95%;
}

.cardFactsGroup {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
}

/* MODAL STYLES */
.customOverlay {
    background: rgba(35, 31, 32, 0.7);
}

.customModal {
    border-radius: 20px;
    border: 5px solid #84A59D;
    width: 85vw;
    height: auto;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .card{
        width: 30vw;
    }

    .imgContainer {
        width: calc(30vw - 40px);
        height: calc(30vw - 40px);
    }
}

@media (max-width: 768px) {
    .cardFacts {
            grid-template-rows: repeat(4, 0.25fr);
            grid-template-columns: 1fr;
            place-items: center;
        }

        .cardFactsGroup {
            width: 100%;
            text-align: center;
        }
}

@media (max-width: 620px) {
    .card {
        width: 40vw;
    }

    .imgContainer {
        width: calc(40vw - 40px);
        height: calc(40vw - 40px);
    }
}

@media (max-width: 450px) {
    .card {
        width: 80vw;
    }

    .imgContainer {
        width: calc(80vw - 40px);
        height: calc(80vw - 40px);
    }
}
