.DogCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F6BD60;
    cursor: pointer;
}

.DogCards, .DogCards img {
    border-radius: 40px;
    padding: 20px;
}

.DogCardsFacts {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: start;
}

.DogCardsFacts h4{
    text-align: center;
}

.DogCardsFactsGroup p {
    line-height: 25%;
}

.DogCards h4 {
    text-decoration: underline;
    text-align: center;
}

.DogCards span {
    font-weight: 700;
}

.customOverlay {
    background: rgba(35, 31, 32, 0.7);
}

.customModal {
    background: #F28482;
    max-width: 100vw;
    width: 100%;
}
