.footer{
    background-color: #84A59D;
    font-weight: 700;
    height: fit-content;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

p {
    font-size: clamp(0.7rem, 0.6579rem + 0.2105vw, 0.8rem);
}
