.form {
    background: #B9CBC6;
    width: 30vw;
    height: auto;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2.5px solid #84A59D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form fieldset {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    box-sizing: border-box;

    padding: 2.5% 0;
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: 8% 45% auto;
    place-content: center;
    align-items: center;
}

.form label{
    font-weight: 700;
    font-size: 0.9rem;
}

.form legend {
    font-size: clamp(0.8rem, 0.7158rem + 0.4211vw, 1rem);
}

.form input[type="checkbox"] {
    width: clamp(0.8rem, 0.7158rem + 0.4211vw, 1rem);
    height: clamp(0.8rem, 0.7158rem + 0.4211vw, 1rem);
}

.form input[type="range"] {
    height: clamp(0.8rem, 0.7158rem + 0.4211vw, 1rem);
    width: 100%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: solid transparent;
}

.form div {
    height: 10%;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .form {
        width: 40vw;
    }
}

@media (max-width: 915px) {
    .form {
        width: 50vw;
    }
}

@media (max-width: 750px) {
    .form {
        width: 60vw;
    }

    .form fieldset {
        padding: 5% 0;
    }
}

@media (max-width: 650px) {
    .form {
        width: 70vw;
    }
}

@media (max-width: 570px) {
    .form {
        width: 80vw;
    }

}

@media (max-width: 500px) {
    .form {
        width: 90vw;
    }

    .form fieldset {
        padding: 8% 0;
    }
}
