.gallery .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galleryResults {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 40px 0  0;
    gap: 20px;
    place-content: center;
    place-items: stretch;
}

p {
    font-style: italic;
}

.textResult {
    padding: 80px 0;
}

/* MEDIA QUERIES */
@media (max-width: 1000px) {
    .galleryResults {
        grid-template-columns: repeat(3, 33%);
        width: 90%;
    }
}

@media (max-width: 620px) {
    .galleryResults {
        grid-template-columns: repeat(2, 50%);
        width: 80%;
    }
}

@media (max-width: 450px) {
    .galleryResults {
        grid-template-columns: 100%;
    }
}
