.selection .wrapper{
    height: 80vh;

}

.selection .wrapper, .selectionButtons, .selectionButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection .wrapper p {
    width: 75%;
}

.selectionButtons {
    margin-bottom: 20px;
}

/* MEDIA QUERIES */

@media(max-width: 768px) {
    .selection .wrapper p {
        width: 90%;
        flex-direction: row;
    }
}
